---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="text-base">
		<h4 class="text-l md:text-2xl">ABOUT US</h4>
		<p>
		Tekaa is the fruit of the union of three professionals from the
		construction industry, each with their own experience and expertise.
		Patrick, with 20 years of experience as a General Contractor
		has built a reliable network of technicians and companies,
		guaranteeing fast response times and controlled prices.
		Cristian, a thermotechnician for over 20 years and a leader in his
		sector, specialising in thermotechnical surveys and
		system designs that ensure our
		constructions the best possible energy class. Valerio,
		with two decades of experience in buying and selling
		real estate, knows the market inside out and is involved in the purchase
		and sale of land, houses, commercial, accommodation facilities and
		much more.<br/>
		Our strength lies in the collaborative approach of these
		complementary experiences.<br/>
		In addition, we are revolutionising the building industry with
		the innovative construction system, the A-System. This
		methodology drastically reduces construction time.
		The modular structure is designed to guarantee seismic
		seismic resistance and maximum energy performance, taking full advantage of the
		maximum use of A-System technology. The NTC&R system also offers
		sustainability through the reuse and recyclability of materials, contributing to our commitment
		recyclability of materials, contributing to our commitment to
		responsible building.
		</p>
		<h4 class="text-l md:text-2xl">OUR TEAM</h4>
		<p>
		<ul class="list-disc mx-10">
			<li>General contractor</li>
			<li>Surveyors</li>
			<li>Architects</li>
			<li>Interior Designer</li>
			<li>Engineer</li>
			<li>Accountants</li>
			<li>Craftsmen</li>
			<li>Thermotechnicians</li>
			<li>Furniture manufacturers</li>
		</ul>
		<br/>
		The heart of Tekaa is our highly qualified and
		diverse team, led by three leading figures in the
		construction industry.<br/>
		Tekaa is supported by a highly specialised team
		consisting of architects, engineers, accountants, sales
		technicians, surveyors, heating engineers, master craftsmen
		interior designers and furniture and decoration manufacturers. The
		diversity of skills within our team is the
		key to our success. Architects bring innovative ideas
		innovative ideas and creativity, engineers ensure structural solidity
		structural soundness, the thermal engineers ensure energy efficiency, while the
		accountants maintain strict cost control.<br/>
		Salespeople and technicians work hand in hand to guide the
		customers through every step of the process, ensuring that
		their needs are always at the centre. The surveyors
		provide the necessary precision in technical details,
		while master craftsmen ensure quality and
		attention to detail in the realisation of constructions. I
		interior designers bring style and aesthetics to our projects,
		while the furniture and decoration manufacturers complete the
		experience, ensuring a harmonious and functional living environment.
		functional living environment.<br/>
		Together, our team represents a combination of
		skills that go beyond expectations, creating solutions
		unique and tailor-made solutions for each project. The collaboration
		of these different professional skills is what makes
		distinguishes Tekaa in the construction and
		of real estate.<br/>
		The synergy between these complementary skills creates a
		collaborative and dynamic environment, able to meet the
		industry challenges with innovative solutions. Our team is the
		engine that drives Tekaa to success, combining
		professionalism, passion and dedication to deliver results
		exceptional results to our customers.<br/>
		</p>
		<br/>
		<h4 class="text-l md:text-2xl">HOW WE WORK</h4>
		<p>
		Tekaa stands out for its flexibility and ability to
		adapt to customers' needs, offering two distinct
		distinct approaches to project realisation.<br/>
		In the first scenario, we work closely with
		the client, whether it be for new private or
		commercial, or residential or commercial renovations.
		commercial. We start with the client's idea, conducting
		an initial inspection of the building or dedicated land.
		Together with municipal technicians, we assess the feasibility of the client's idea
		customer's idea, suggesting innovative solutions for the division
		of spaces and decoration. Once the idea is defined
		we proceed with its realisation, ensuring a
		transparent and collaborative process.<br/>
		The second approach represents our turning point,
		guided by Valerio's experience. In this case, we are
		actively engaged in the search for strategic land for
		new buildings or premises to be renovated. Thanks to the synergy
		of Patrick, his technicians, Cristian and his collaborators,
		we develop the project, involving engineers
		thermotechnicians, architects and surveyors to ensure a
		collaborative approach and high quality realisation.<br/>
		We obtain the necessary permits from the municipal authorities
		before proceeding with the work and subsequent sale,
		ensuring that each project reflects the original vision
		and meets the expectations of everyone involved.
		These two ways of working allow us to adapt to the
		specific needs of each client and to maintain high
		standards of quality and innovation at every stage of the process.
		</p>
	</div>
</Layout>