---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="text-base">
		<h4 class="text-l md:text-2xl">WHO WE ARE</h4>
		<p>
			Tekaa was born from the union of three construction professionals, each with specific skills that make our team unique and versatile. Patrick, with over 20 years of experience as a General Contractor, has created a reliable network of technicians and contractors to guarantee speed and competitive prices. Cristian, a leading thermotechnician for more than two decades, is dedicated to designing state-of-the-art systems that ensure maximum energy savings. Valerio, an expert in real estate sales, helps our clients identify strategic land and buildings to realise their residential or commercial projects.
			<br />
			Together, we are revolutionising the way we build, focusing on <b class=‘font-bold’> prefabricated wooden houses</b>, an innovative solution that combines sustainability, efficiency and customisation. Our houses are earthquake-proof, insulated and designed to be completely green, thanks to the integration of photovoltaic panels, heat pumps and high-quality insulation. These elements reduce utility bills to almost zero and allow for the exclusive use of energy from renewable sources.
			<br />
			Our prefabricated approach drastically reduces construction time and costs, without compromising on quality. Thanks to this methodology, we can deliver homes earlier than planned. Contrary to popular belief, prefabricated wooden houses have no design limits: the supporting structures are modular and versatile, but each project can be 100 per cent customised to meet the customer's wishes and needs.
		</p>
		<h4 class="text-l md:text-2xl">HOW WE WORK</h4>
		<p>
			Tekaa is distinguished by its flexible and innovative approach, adapting to every customer request. In the case of our prefabricated timber constructions:
			<br />
		<ul class="list-decimal mx-10">
			<li><b class="font-bold">Collaboration with the customer:</b> We start with the client's idea, carrying out inspections and feasibility assessments. We design customised dwellings, aiming to combine functionality, aesthetics and sustainability.</li>
			<li><b class="font-bold">Research and enhancement of the territory:</b>  Thanks to Valerio's expertise, we identify strategic terrain and guide the customer in choosing the ideal location.
			<li><b class="font-bold">Optimised prefabrication:</b> With our advanced technology, construction time is reduced, ensuring low costs and site safety. From the pouring of the slab to the delivery of the house, every stage is managed to maximise efficiency and reduce environmental impact.
		</ul>
		<br/>

		<h4 class="text-l md:text-2xl">OUR TEAM</h4>
		<p>
			Our team consists of experts in the key areas of construction: architects, engineers, thermal engineers, surveyors, interior designers and specialised craftsmen. With the integration of the new timber construction system, we also collaborate with carpenters and industry professionals to ensure that each project reflects the highest standards of quality and innovation.
		</p>

		<h4 class="text-l md:text-2xl">WHY CHOOSE TEKAA</h4>
		With Tekaa, the future of your home becomes reality. We are here to prove that a prefabricated wooden construction can not only be environmentally friendly and high-performance, but also unique and tailor-made. Our homes save you time, money and resources without sacrificing comfort and style.
	</div>
</Layout>