---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="flex h-screen bg-cover bg-center w-full bg-no-repeat" style="background-image:linear-gradient(rgba(20, 20, 20, 0.7), rgba(100, 100, 100, 1)), url('../img/sfondo_home.jpg');">
		<div class="m-auto w-3/5">
		  <h1 class="text-center text-6xl font-bold text-white">TEKAA</h1>
		  <h3 class="text-center text-4xl text-white">HOME SOLUTIONS</h3>
		  <p class="text-2xl marck-script-regular py-4">From the merger of major real estate companies to the establishment of a unified, industry-leading green building sector, we are at your service, offering comprehensive solutions for every need, from the selection of new fixtures or cladding to the construction of new buildings or the renovation of existing ones.</p>
		</div>
	</div>
</Layout>
