---
import Layout from "../../layouts/Layout_index.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="bg-cover bg-center bg-no-repeat" style="background-image:linear-gradient(rgba(50, 50, 50, 0.8), rgba(40, 40, 40, 0.8)), url('../img/sfondo_home.jpg');">
		<div class="m-auto h-full w-11/12 md:w-3/5 py-20">
			<h1 class="text-center  font-bold text-white  text-3xl md:text-6xl">TEKAA</h1>
			<h3 class="text-center text-white text-xl md:text-4xl">HOME SOLUTIONS</h3>
			<p class="hind-medium py-4 text-base md:text-xl">
			We are pleased to present TEKAA, a new reality born from the merger of four historical companies in the building sector: design, architecture, thermal engineering and sales. This union allows us to offer a unique and innovative service, capable of responding to the needs of citizens and businesses with integrated, state-of-the-art solutions.<br />
			Our mission is to turn your ideas into reality, guaranteeing quality, efficiency and sustainability in every project. Thanks to the synergy of our competences, we are able to follow each phase of the building process, from design to realisation, with a customised and customer-oriented approach. <br />
			At TEKAA, we believe that innovation and tradition can coexist harmoniously to create spaces that improve the lives of people and communities. <br />
			We also want to be a collection point and showcase for companies in the sector interested in collaborating and eager to promote themselves. <br />
			<br />
			We are ready to build the future of constructions together with you.
			</p>
		</div>
	</div>
</Layout>
