---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="text-base">
		<h4 class="text-l md:text-2xl">CHI SIAMO</h4>
		<p>
			Tekaa nasce dall'unione di tre professionisti del settore edilizio, ognuno con competenze specifiche che rendono il nostro team unico e versatile. Patrick, con oltre 20 anni di esperienza come General Contractor, ha creato una rete affidabile di tecnici e imprese per garantire rapidità e prezzi competitivi. Cristian, termotecnico leader da più di due decenni, si dedica a progettare impianti all’avanguardia che assicurano il massimo risparmio energetico. Valerio, esperto di compravendite immobiliari, aiuta i nostri clienti a individuare terreni e immobili strategici per realizzare i loro progetti abitativi o commerciali.
			<br />
			Insieme, stiamo rivoluzionando il modo di costruire, concentrandoci sulle <b class="font-bold">case prefabbricate in legno</b>, una soluzione innovativa che coniuga sostenibilità, efficienza e personalizzazione. Le nostre abitazioni sono antisismiche, coibentate e progettate per essere completamente green, grazie all'integrazione di pannelli fotovoltaici, pompe di calore e isolamento di alta qualità. Questi elementi riducono le bollette quasi a zero e permettono di utilizzare esclusivamente energia da fonti rinnovabili.
			<br />
			Il nostro approccio prefabbricato riduce drasticamente i tempi di realizzazione e i costi, senza compromettere la qualità. Grazie a questa metodologia, possiamo consegnare le abitazioni prima del previsto. Contrariamente a quanto si pensa comunemente, le case prefabbricate in legno non hanno limiti di design: le strutture portanti sono modulari e versatili, ma ogni progetto può essere personalizzato al 100% per rispondere ai desideri e alle esigenze del cliente.
		</p>
		<h4 class="text-l md:text-2xl">COME LAVORIAMO</h4>
		<p>
			Tekaa si distingue per il suo approccio flessibile e innovativo, adattandosi a ogni richiesta del cliente. Nel caso delle nostre costruzioni in legno prefabbricato:
			<br />
		<ul class="list-decimal mx-10">
			<li><b class="font-bold">Collaborazione con il cliente:</b> Partiamo dall'idea del cliente, effettuando sopralluoghi e valutazioni di fattibilità. Progettiamo abitazioni su misura, con l’obiettivo di unire funzionalità, estetica e sostenibilità.</li>
			<li><b class="font-bold">Ricerca e valorizzazione del territorio:</b>  Grazie alla competenza di Valerio, individuiamo terreni strategici e guidiamo il cliente nella scelta della location ideale.
			<li><b class="font-bold">Prefabbricazione ottimizzata:</b> Con la nostra tecnologia avanzata, i tempi di costruzione si riducono, garantendo costi contenuti e sicurezza in cantiere. Dalla gettata della platea alla consegna della casa, ogni fase è gestita per massimizzare l'efficienza e ridurre l’impatto ambientale.
		</ul>
		<br/>

		<h4 class="text-l md:text-2xl">IL NOSTRO TEAM</h4>
		<p>
			La nostra squadra è composta da esperti nei settori chiave dell’edilizia: architetti, ingegneri, termotecnici, geometri, designer di interni e artigiani specializzati. Con l’integrazione del nuovo sistema costruttivo in legno, collaboriamo anche con falegnami e professionisti del settore per garantire che ogni progetto rispecchi i più alti standard di qualità e innovazione.
		</p>

		<h4 class="text-l md:text-2xl">PERCHÉ SCEGLIERE TEKAA</h4>
		Con Tekaa, il futuro della tua casa diventa realtà. Siamo qui per dimostrare che una costruzione prefabbricata in legno può essere non solo ecologica e performante, ma anche unica e su misura. Le nostre abitazioni ti permettono di risparmiare tempo, denaro e risorse, senza rinunciare al comfort e allo stile.
	</div>
</Layout>
