---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="text-base">
		<h4 class="text-l md:text-2xl">CHI SIAMO</h4>
		<p>
		Tekaa è il frutto dell'unione di tre professionisti del settore
		edilizio, ognuno con la propria esperienza e competenza.
		Patrick, con 20 anni di esperienza come General Contractor,
		ha costruito una rete affidabile di tecnici e imprese,
		garantendo tempi di risposta rapidi e prezzi controllati.
		Cristian, termotecnico da oltre 20 anni e leader nel suo
		settore, specializzandosi in perizie termotecniche e
		progettazioni di impianti che assicurano alle nostre
		costruzioni la miglior classe energetica possibile. Valerio,
		con due decenni di esperienza nella compravendita di
		immobili, conosce a fondo il mercato e si occupa di acquisto
		e vendita di terreni, case, commerciali, strutture ricettive e
		molto altro ancora.<br/>
		La nostra forza risiede nell'approccio collaborativo di queste
		esperienze complementari.<br/>
		Inoltre, stiamo rivoluzionando l'industria edilizia con
		l’innovativo sistema costruttivo, l’A-System. Questa
		metodologia riduce drasticamente i tempi di realizzazione.
		La struttura modulare è progettata per garantire resistenza
		sismica e massime prestazioni energetiche, sfruttando al
		massimo la tecnologia A-System. Il sistema NTC&R offre
		anche un'alta sostenibilità grazie al riutilizzo e alla riciclabilità
		dei materiali, contribuendo al nostro impegno per
		un'edificazione responsabile.
		</p>
		<h4 class="text-l md:text-2xl">IL NOSTRO TEAM</h4>
		<p>
		<ul class="list-disc mx-10">
			<li>General contractor</li>
			<li>Geometri</li>
			<li>Architetti</li>
			<li>Designer di interni</li>
			<li>Ingegneri</li>
			<li>Contabili</li>
			<li>Artigiani di settore</li>
			<li>Termotecnici</li>
			<li>Produttori di arredo</li>
		</ul>
		<br/>
		Il cuore di Tekaa è il nostro team altamente qualificato e
		diversificato, guidato da tre figure di spicco nel settore
		edilizio.<br/>
		Tekaa è supportata da un team altamente specializzato
		composto da architetti, ingegneri, contabili, venditori,
		tecnici, geometri, termotecnici, artigiani maestri del settore,
		designer di interni e produttori di arredo e decorazione. La
		diversità di competenze all'interno del nostro team è la
		chiave del nostro successo. Gli architetti portano idee
		innovative e creatività, gli ingegneri garantiscono la solidità
		strutturale, i termotecnici l'efficienza energetica, mentre i
		contabili mantengono un controllo rigoroso dei costi.<br/>
		I venditori e i tecnici lavorano mano nella mano per guidare i
		clienti attraverso ogni fase del processo, assicurandosi che
		le loro esigenze siano sempre al centro. I geometri
		forniscono la precisione necessaria nei dettagli tecnici,
		mentre gli artigiani maestri del settore assicurano la qualità e
		l'attenzione al dettaglio nella realizzazione delle costruzioni. I
		designer di interni portano stile e estetica ai nostri progetti,
		mentre i produttori di arredo e decorazione completano
		l'esperienza, garantendo un ambiente abitativo armonioso e
		funzionale.<br/>
		Insieme, il nostro team rappresenta un connubio di
		competenze che va oltre le aspettative, creando soluzioni
		uniche e su misura per ogni progetto. La collaborazione
		sinergica di queste diverse professionalità è ciò che
		distingue Tekaa nel panorama delle costruzioni e
		dell'immobiliare.<br/>
		La sinergia tra queste competenze complementari crea un
		ambiente collaborativo e dinamico, in grado di affrontare le
		sfide del settore con soluzioni innovative. Il nostro team è il
		motore che guida Tekaa verso il successo, combinando
		professionalità, passione e dedizione per offrire risultati
		eccezionali ai nostri clienti.<br/>
		</p>
		<br/>
		<h4 class="text-l md:text-2xl">COME LAVORIAMO</h4>
		<p>
		Tekaa si distingue per la sua flessibilità e capacità di
		adattarsi alle esigenze dei clienti, offrendo due approcci
		distinti alla realizzazione di progetti.<br/>
		Nel primo scenario, lavoriamo in stretta collaborazione con
		il cliente, sia che si tratti di nuove costruzioni private o
		commerciali, o di ristrutturazioni in ambito residenziale o
		commerciale. Partiamo dall'idea del cliente, conducendo
		un primo sopralluogo nell'immobile o nel terreno dedicato.
		Insieme ai tecnici comunali, valutiamo la fattibilità dell'idea
		del cliente, suggerendo soluzioni innovative per la divisione
		degli spazi e la decorazione. Una volta definita l'idea,
		procediamo con la sua realizzazione, garantendo un
		processo trasparente e collaborativo.<br/>
		Il secondo approccio rappresenta il nostro punto di svolta,
		guidato dall'esperienza di Valerio. In questo caso, siamo
		attivamente impegnati nella ricerca di terreni strategici per
		nuove costruzioni o locali da rinnovare. Grazie alla sinergia
		di Patrick, i suoi tecnici, Cristian e i suoi collaboratori,
		sviluppiamo il progetto, coinvolgendo ingegneri,
		termotecnici, architetti e geometri per garantire un
		approccio collaborativo e una realizzazione di alta qualità.<br/>
		Otteniamo i permessi necessari dalle autorità comunali
		prima di procedere con il lavoro e la successiva vendita,
		assicurando che ogni progetto rispecchi la visione originale
		e soddisfi le aspettative di chiunque entri a farne parte.
		Questi due modi di lavorare ci consentono di adattarci alle
		esigenze specifiche di ogni cliente e di mantenere elevati
		standard di qualità e innovazione in ogni fase del processo.
		</p>
	</div>
</Layout>
