---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<h1 class="text-xl text-white">COWORKING PRESSO TEKAA</h1>
	<img class="rounded-lg py-3 w-2/5 h-auto mx-auto" src="/sito_tekaa/img/cowork.jpg" alt="Foto postazione coworking">
	<p class="text-base">
		Abbiamo allestito postazioni per il coworking disponibili per tecnici, architetti e ingegneri. <br />
		Ogni postazione è insonorizzata, ha accesso al wifi ed alla stampante condivisa, può essere prenotata attraverso il form sottostante. <br />
	</p>

	<!-- FORM PRENOTAZIONE POSTAZIONE COWORKING -->
	<form  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-3/5 mx-auto" action="#" method="post">
		<label class="block text-gray-700 text-sm font-bold mb-2">
		Nome:
		<input 
			class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"
			type="text" 
			name="name" 
			aria-label="Nome o Azienda" 
			placeholder="Nome e Cognome" 
			id="name" 
			required />
		</label>
		<br />
		<label class="block text-gray-700 text-sm font-bold mb-2">
		Email:
		<input
			class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"
			type="email" 
			name="email" 
			aria-label="Email" 
			placeholder="nome@mail.com" 
			id="email" 
			required />
		</label>
		<br />
		<label class="block text-gray-700 text-sm font-bold mb-2">
			Numero di telefono:
			<input  
				class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"
				type="text" 
				name="telefono" 
				aria-label="Telefono" 
				placeholder="Telefono" 
				id="telefono" 
				required />
		</label>
		<br />
		<label class="block text-gray-700 text-sm font-bold mb-2">
			Richiesta postazione con indicazione data o periodo:
			<br />
			<textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" id="richiesta" name="richiesta" rows="5" required />
		</label>
		<br />
		<button class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Invia</button>
	</form>
	
</Layout>
