---
---
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  <div>
      <img class="h-auto max-w-full rounded-lg" src="/img/progetti/01.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/03.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/04.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/02.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/05.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/09.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/07.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/03.png" alt="">
  </div>
  <div>
    <img class="h-auto max-w-full rounded-lg" src="/img/progetti/08.png" alt="">
  </div>
</div>
