---
import { languages } from '../i18n/ui';
---
<ul class="gap-2 flex flex-col justify-center items-center">
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a class="uppercase tekaa text-xs md:text-sm" href={`/${lang}/`}>{label.substring(0,2)}</a>
    </li>
  ))}
</ul>