---
import { languages } from '../i18n/ui';
---
<ul class="flex gap-2">
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a class="uppercase text-stone-900 text-sm" href={`/sito_tekaa/${lang}/`}>{label.substring(0,2)}</a>
    </li>
  ))}
</ul>
