---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="text-base">
		<h4 class="text-l md:text-2xl">WER WIR SIND</h4>
		<p>
			Tekaa ist aus dem Zusammenschluss dreier Baufachleute entstanden, von denen jeder über spezifische Fähigkeiten verfügt, die unser Team einzigartig und vielseitig machen. Patrick, mit über 20 Jahren Erfahrung als Generalunternehmer, hat ein zuverlässiges Netzwerk von Technikern und Bauunternehmern aufgebaut, um Schnelligkeit und wettbewerbsfähige Preise zu garantieren. Cristian, seit mehr als zwei Jahrzehnten ein führender Thermotechniker, widmet sich der Entwicklung modernster Systeme, die maximale Energieeinsparungen gewährleisten. Valerio, ein Experte für den Verkauf von Immobilien, hilft unseren Kunden bei der Suche nach strategischen Grundstücken und Gebäuden für die Realisierung ihrer Wohn- oder Gewerbeprojekte.
			<br />
			Gemeinsam revolutionieren wir die Art und Weise, wie wir bauen, und konzentrieren uns dabei auf <b class=„font-bold“> vorgefertigte Holzhäuser</b>, eine innovative Lösung, die Nachhaltigkeit, Effizienz und Individualität vereint. Unsere Häuser sind erdbebensicher, isoliert und dank der Integration von Fotovoltaikanlagen, Wärmepumpen und hochwertiger Isolierung absolut umweltfreundlich. Diese Elemente reduzieren die Stromrechnungen auf nahezu Null und ermöglichen die ausschließliche Nutzung von Energie aus erneuerbaren Quellen.
			<br />
			Mit unserer Fertigbauweise können wir die Bauzeit und die Kosten drastisch reduzieren, ohne Kompromisse bei der Qualität einzugehen. Dank dieser Methodik können wir Häuser früher als geplant liefern. Entgegen der landläufigen Meinung gibt es bei vorgefertigten Holzhäusern keine gestalterischen Grenzen: Die tragenden Strukturen sind modular und vielseitig, aber jedes Projekt kann zu 100 Prozent an die Wünsche und Bedürfnisse des Kunden angepasst werden.
		</p>
		<h4 class="text-l md:text-2xl">WIE WIR ARBEITEN</h4>
		<p>
			Tekaa zeichnet sich durch einen flexiblen und innovativen Ansatz aus, der sich an jeden Kundenwunsch anpasst. Im Falle unserer vorgefertigten Holzkonstruktionen:
			<br />
		<ul class="list-decimal mx-10">
			<li><b class="font-bold">Zusammenarbeit mit dem Kunden:</b> Wir gehen von der Idee des Kunden aus und führen Besichtigungen und Machbarkeitsstudien durch. Wir entwerfen maßgeschneiderte Wohnungen mit dem Ziel, Funktionalität, Ästhetik und Nachhaltigkeit zu verbinden.</li>
			<li><b class="font-bold">Forschung und Aufwertung des Gebiets:</b>  Dank des Fachwissens von Valerio können wir strategisches Terrain identifizieren und den Kunden bei der Auswahl des idealen Standorts unterstützen.
			<li><b class="font-bold">Optimierte Vorfabrikation:</b> Mit unserer fortschrittlichen Technologie wird die Bauzeit verkürzt, was niedrige Kosten und Sicherheit auf der Baustelle gewährleistet. Vom Gießen der Bodenplatte bis zur Übergabe des Hauses wird jede Phase so gesteuert, dass die Effizienz maximiert und die Umweltbelastung reduziert wird.
		</ul>
		<br/>

		<h4 class="text-l md:text-2xl">UNSER TEAM</h4>
		<p>
			Unser Team besteht aus Experten in den wichtigsten Bereichen des Bauwesens: Architekten, Ingenieure, Wärmetechniker, Vermesser, Innenarchitekten und spezialisierte Handwerker. Bei der Integration des neuen Holzbausystems arbeiten wir auch mit Zimmerleuten und Fachleuten aus der Branche zusammen, um sicherzustellen, dass jedes Projekt den höchsten Qualitäts- und Innovationsstandards entspricht.
		</p>

		<h4 class="text-l md:text-2xl">WARUM TEKAA WÄHLEN</h4>
		Mit Tekaa wird die Zukunft Ihres Hauses Wirklichkeit. Wir wollen beweisen, dass eine vorgefertigte Holzkonstruktion nicht nur umweltfreundlich und leistungsstark, sondern auch einzigartig und maßgeschneidert sein kann. Mit unseren Häusern sparen Sie Zeit, Geld und Ressourcen, ohne auf Komfort und Stil verzichten zu müssen.
	</div>
</Layout>