---
import Layout from "../../layouts/Layout.astro"
---

<Layout titolo="TEKAA HOME SOLUTIONS">
	<div class="flex h-screen bg-cover bg-center w-full bg-no-repeat" style="background-image:linear-gradient(rgba(20, 20, 20, 0.7), rgba(100, 100, 100, 1)), url('../img/sfondo_home.jpg');">
		<div class="m-auto w-3/5">
			<h1 class="text-center  font-bold text-white  text-2xl md:text-6xl">TEKAA</h1>
		  <h3 class="text-center text-white text-xl md:text-4xl">HOME SOLUTIONS</h3>
		  <p class="hind-medium py-4 text-base md:text-xl">
			Wir freuen uns, Ihnen TEKAA vorzustellen, eine neue Realität, die aus dem Zusammenschluss von vier historischen Unternehmen des Bausektors entstanden ist: Planung, Architektur, Wärmetechnik und Vertrieb. Dieser Zusammenschluss ermöglicht es uns, einen einzigartigen und innovativen Service anzubieten, der in der Lage ist, auf die Bedürfnisse von Bürgern und Unternehmen mit integrierten und modernen Lösungen zu reagieren.<br />
			Unsere Aufgabe ist es, Ihre Ideen in die Realität umzusetzen und bei jedem Projekt Qualität, Effizienz und Nachhaltigkeit zu garantieren. Dank der Synergie unserer Kompetenzen sind wir in der Lage, jede Phase des Bauprozesses, vom Entwurf bis zur Realisierung, mit einem maßgeschneiderten und kundenorientierten Ansatz zu begleiten.<br />
			Wir bei TEKAA glauben, dass Innovation und Tradition harmonisch nebeneinander bestehen können, um Räume zu schaffen, die das Leben von Menschen und Gemeinschaften verbessern. <br />
			Wir wollen auch ein Sammelpunkt und ein Schaufenster für Unternehmen des Sektors sein, die an einer Zusammenarbeit interessiert sind und sich präsentieren möchten. <br />
			<br />
			Wir sind bereit, gemeinsam mit Ihnen die Zukunft des Bauens zu gestalten.
		  </p>
		</div>
	</div>
</Layout>
